
* {
    font-family:  Helvetica, Arial, sans-serif;
}

body {
    color: white;
    background-color: rgb(21, 21, 21);
    font-size: 20px;
    padding: 40px;
}

input {
    color: gray;
    font-size: 1.2rem;
    width: 100%;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(62, 61, 61);
    align-content: center;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p {
    height: 30px;
    font-size: 15px;
    max-width: 250px;
    text-align: center;
}

.card img {
    border-bottom: 1px solid gray;
    height: 150px;
    max-width: 250px;
    max-height: 150px;
    width: 250px;
}

